<header>  
  <h1>AppComponent</h1>
  <!-- <nav>
    <ul>
      <li><a class="button" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home Component</a></li>
      <li><a class="button" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Component</a></li>
      <li><a class="button" [routerLink]="['/profile',3]" routerLinkActive="active" ariaCurrentWhenActive="page">Profile Component</a></li>
    </ul>
  </nav> -->

  <button (click)="mudarPagina(5)">
    Mudar De Pagina
  </button>
</header>

<router-outlet></router-outlet>